<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Library-Home</title>
</head>
<body class="homebody">
    <nav >
        <a href="/addbook">Add Book</a>
        <a href="/addauthor">Add Author</a>
        <a href="/getallbook">Books List</a>
        <a href="/getallauthor">Author List</a>
        <a href="/updateauthor">Update Author</a>
        <a href="/updatebook">Update Book</a>
        <a href="/deletebook">Delete Book</a>
    </nav>

    <h1 style="color: azure;">Welcome to FIT2095 Library</h1>
    <p style="color: beige;">Go ahead! Browse away! &#128516</p>
</body>
</html>