<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Library- Update Author</title>
</head>
<body class="allbody">
    <nav>
        <a href="/">Home</a>
        <a href="/addbook">Add Book</a>
        <a href="/addauthor">Add Author</a>
        <a href="/getallbook">Books List</a>
        <a href="/getallauthor">Author List</a>
        <a href="/updatebook">Update Book</a>
        <a href="/deletebook">Delete Author</a>
    </nav>

    <div class="form">
        <h2>Update Author</h2>
        <form action="/updateauthor" method="post">
            <label for="name">ID</label> <br>
            <input type="text" name="id" />

    
            <label for="book"># Books</label><br>
            <input type="text" name="numBooks" placeholder="e.g: 2"/><br>

            <button type="submit" class="btn">Update Author<strong></strong></button>
        </form>
    </div>

    </form>
</body>
</html>